header,
main,
footer {

  section {
    position: relative;
    width: step(9);
    padding: step(1);
  }

  section.table {
    padding: step(1);
    width: step(10);
  }

  .text,
  .image,
  .color,
  .table {
    transform: translateY(1px);
  }

  .text,
  .table {
    z-index: 1;
  }
  .image {
    z-index: -1;
  }

  .color {
    z-index: 0;
    z-index: -1;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

header,
footer {
  position: relative;
  .color {
    width: step(9);
  }
}

footer {
  .color {
    top: unset;
    bottom: 0;
  }
  aside {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
  }
}

main {
  section {
    &.r{
      margin-left: step(1);
    }
    @media only screen and (min-width: 900px) {
      &.s1 {
        width: step(8);
        margin-left: step(2);
      }
      &.s2 {
        padding-left: step(3);
      }
      &.s3 {
        padding-right: step(2);
      }
      &.s5 {
        width: step(8);
        margin-left: step(2);
      }
      &.table {
        padding-right: step(3);
      }
    }
    @media only screen and (min-width: 1200px) {
      &.table {
        padding-right: step(5);
      }
    }
  }
}
