header,
main,
footer {

  section {
    position: relative;
    width: step(9);
    padding: step(1);
    padding-bottom: step(2);
  }

  section.tables {
    padding: step(1);
    width: step(10);
    margin-top: step(-1);
  }

  .text,
  .image,
  .color,
  .tables {
    transform: translateY(1px);
  }

  .text,
  .tables {
    z-index: 10;
  }
  .image {
    z-index: 1;
    width: step(8);
  }
  > .image {
    margin-top: step(-1);
  }
  .color {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

header {
  section {
    z-index: 5;
  }
}
header,
footer {
  position: relative;
  .color {
    width: step(9);
  }
}

footer {
  margin-top: step(-3);
  padding-top: step(2);

  .color {
    top: unset;
    bottom: 0;
  }
  aside {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
  }
}



main {
  section {
    margin-top: step(-3);
    &.r{
      margin-left: step(1);
    }
    &.s1,
    &.s3,
    &.s5 {
      padding-top: step(5);
      margin-top: step(-8);
    }
    @media only screen and (min-width: 900px) {
      &.s1 {
        width: step(8);
        margin-left: step(2);
      }
      &.s2 {
        padding-left: step(2);
        padding-right: step(2);
      }
      &.s3 {
        padding-left: step(2);
        padding-right: step(1);
      }
      &.s5 {
        margin-left: step(1);
      }
    }
  }
}

section.table-wrapper {
  margin: 0;
  padding: 0;
  width: step(10);
  margin-top: step(-1);
  .tables {
    padding: step(1);
    position: absolute;
    top: step(1.5);
    @media only screen and (min-width: 900px) {
      padding-right: step(3);
    }
    @media only screen and (min-width: 1200px) {
      padding-right: step(5);
    }
  }
}
