@import 'reset';
@import 'variables';

/* basics */
html {
  font-size: 1.2rem;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 700px) {
  html {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 900px) {
  html {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1500px) {
  html {
    font-size: 2rem;
  }
}

/* typography */
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}
body {
  line-height: 1.1;
}

::selection {
  background-color: $petrol;
}

@import 'content';

.color {
  &.beige {
    background-color: $beige;
  }
  &.olive {
    background-color: $olive;
  }
  &.petrol {
    background-color: $petrol;
  }
}
.text {
  &.white {
    color: #fff;
  }
}

@import 'header';

body.home {
  @import 'home';
}
body.imprint {
  @import 'imprint';
}

@import 'footer';
