header {

    position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;

    .top {
        padding: 1rem;
        display: flex;
        .logo {

        }
        nav {
            flex: 1;
        }
    }

    .logo {
        h1 {
            white-space: nowrap;
            word-break: keep-all;
            text-align: center;
            padding-left: 1rem;
        }
        img {
            width: 7rem;
            height: auto;
        }
    }

    nav {
        text-align: right;

        a {
            border-bottom: 1.5px solid #000;
            text-decoration: none;
        }
        a.scroll {
            &:after {
                // content: '↓';
            }
        }

    }

}
