header,
footer {
    position: relative;
    .color {
        z-index: -5;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

header {
    padding-bottom: step(1) !important;
    .color {
        top: 0;
    }
}

footer {
    position: relative;
    .contact {
        margin-top: step(1);
        margin-bottom: step(1);
    }
    .color {
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.color {
    height: 3rem;
    &.beige {
        background-color: $beige;
    }
    &.olive {
        background-color: $olive;
    }
    &.petrol {
        background-color: $petrol;
    }
}

main,
header,
footer {

    padding: 0;

    .text {
        @include width(8);
        @include offset(1);
        > div {
            margin-top: step(0.5);
            margin-bottom: step(0.5);
        }
    }

    .table {
        font-size: 0.7rem;
    }

    .deko {
        position: relative;
        figure,
        .color {
            position: absolute;
            z-index: -1;
        }
    }

}

main.parallax {

    .text {
        position: relative;
        > div {
            z-index: 10;
        }
    }

}

@for $i from 1 through 10 {
    .width-#{$i} {
        @include width( $i );
    }
}
@for $i from 1 through 10 {
    .offset-#{$i} {
        @include offset( $i );
    }
}
.offset-half {
    margin-left: step( 0.5 );
}
@for $i from 1 through 30 {
    .height-#{$i} {
        @include height( $i );
    }
}
@for $i from 1 through 30 {
    .overlap-#{$i} {
        margin-top: step( -$i );
    }
}
@for $i from 1 through 30 {
    .top-#{$i} {
        margin-top: step( $i );
    }
}
