main {

    .text {
        padding: 1rem 0;
    }

}

main.parallax {
    padding: 0;

    .text {
        position: relative;
        > div {
            position: absolute;
            z-index: 10;
        }
    }

}
