header,
footer {
    position: relative;
    .color {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.color {
    height: 3rem;
    &.beige {
        background-color: $beige;
    }
    &.olive {
        background-color: $olive;
    }
    &.petrol {
        background-color: $petrol;
    }
}

main {

    padding: 0;

    .text {
        @include width(8);
        @include offset(1);
        > div {
            margin: 1rem;
        }
    }

    .table {
        font-size: 0.7rem;
    }

}

main.parallax {

    .text {
        position: relative;
        > div {
            position: absolute;
            z-index: 10;
        }
    }

}

@for $i from 1 through 10 {
    .width-#{$i} {
        @include width( $i );
    }
}
@for $i from 1 through 10 {
    .offset-#{$i} {
        @include offset( $i );
    }
}
