$beige: #dad6cb;
$olive: #938663;
$petrol: #456d6d;

@function step( $i ) {
    @return #{ 10 * $i }vw;
}
@mixin width( $i ) {
    width: step( $i ) !important;
}
@mixin left( $i ) {
    margin-left: step( $i ) !important;
}
@mixin height( $i ) {
    height: step( $i ) !important;
}
