@import 'reset';
@import 'variables';

/* basics */
html {
	font-size: 1.5rem;
}

/* typography */
html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

@import 'content';

header,
main {
	padding: 1rem;
}

@import 'header';

body.home {
	@import 'home';
}

footer {
	.contact {
		padding: 1rem;
		padding-left: 0;
		@include offset(1);
	}
	aside {
		font-size: 0.4rem;
		padding: 1em;
		ul, li, a {
			display: inline-block;
		}
		li {
			margin-left: 0.3em;
		}
	}
}

.images {
	display: none;
}
