/* reset and normalize */
* {
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	text: inherit;
	color: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: inherit;
}
header, main, footer, section, figure, aside, address {
	display: block;
}
a, img {
	display: inline-block;
}
p a {
	display: inline;
}
html {
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
}
figure, img {
	max-width: 100%;
}
img {
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom;
}