/* hide header */
header {
	display: none;
}

/* zig zag layout of sections */
section:nth-child(even) {
	margin-right: 10vw;
}
section:nth-child(odd) {
	margin-left: 10vw;
}

/* place some text inside of images */
section {
	position: relative;
}

/* section 1 (7n-6) */
section:nth-child(7n-6){
	padding-top: 40vw;
	margin-bottom: -10vw;
	padding-bottom: 10vw;
}

/* section 2 (7n-5) */
section:nth-child(7n-5){
	margin-right: 30vw;
	margin-bottom: -10vw;
}

/* section 3 (7n-4) */
section:nth-child(7n-4){

}
section:nth-child(7n-4) .text {
	color: #fff;
	position: absolute;
}

/* section 4 (7n-3) */
section:nth-child(7n-3){
	margin-right: 20vw;
}
section:nth-child(7n-3) .text {
	color: #fff;
	position: absolute;
	bottom: 0;
}

/* section 5 (7n-2) */
section:nth-child(7n-2){
	margin-left: 20vw;
}

/* section 6 (7n-1) */
section:nth-child(7n-1) .image {
	margin-right: 10vw;
}

/* section 5 (7n-7) */
section:nth-child(7n-7){
	margin-left: 30vw;
}

/* footer */
footer {
	margin-top: -20vw;
	padding-top: 20vw;
	margin-right: 10vw;
}
