/* reset */
* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font: inherit;
	text: inherit;
	color: inherit;
}

/* basics */
html {
	font-size: 1.2rem;
}

/* typography */
html {
	font-weight: bold;
	font-family: "Helvetica", Arial, sans-serif;
}

/* colors */
section.color-beige {
	background-color: #e7dbcb;
}
section.color-red {
	background-color: #dda29b;
}
section.color-blue {
	background-color: #8ad0f2;
}

/* images */
figure, img {
	max-width: 100%;
}
img {
	width: 100%;
	height: auto;
}

/* layout */

/* index page */

header,
section .text {
	padding: 1rem;
}

footer {
	padding: 1rem;
	background-color: #e7dbcb;
}

/* footer */
footer {
}
footer address {
	color: #fff;
}
footer address a.email {
	color: #000;
}

/* imprint page */
