<aside>
    <a title="Open imprint in new tab" href="imprint.html" target="_blank" rel="nofollow">Imprint</a>
    <ul class="credits" title="&copy; 2020">
        {{#each data.credits}}
        <li>{{job}}: <a href="{{url}}" target="_blank" title="{{url}}">{{name}}</a></li>
        {{/each}}
    </ul>
</aside>