<!DOCTYPE html>
<html lang="de">

<head>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    {{{generateMetaTags meta info}}}
    <meta name="robots" content="noindex" />
    <meta property="og:url" content="https://schweizer5.de" />
</head>

<body class="imprint">

    <header lang="en">
        <div class="top">
            <div class="logo" title="Schweizer 5">
                <h1><a href="https://schweizer5.de">Schweizer</a></h1>
                <div class="icon">
                    <a href="https://schweizer5.de"><img alt="Schweizer 5 Logo"
                            src="./images/schweizer5-logo.svg" /></a>
                </div>
            </div>
            <nav>
                <a class="scroll" href="https://schweizer5.de#rental-request" title="Rental Request"
                    rel="section">Rental Request</a>
            </nav>
        </div>
    </header>

    <main lang="de">
        <h1>Impressum</h1>
        {{>contact data=info}}
    </main>

    <footer lang="en">
        {{>credits data=credits}}
    </footer>

</body>

</html>